* {
  margin: 0;
}

.App {
  background-color: #111;
}
.main {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/11c803d4-06f3-467e-91f7-0560ce15a396/5ac22c62-f87e-45e3-8746-418d647185c9/VN-en-20210517-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  min-height: 100vh;
}

.login-body {
  align-items: center;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.login-body__form {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  margin-top: 62px;
  max-width: 420px;
  min-width: 420px;
  padding: 48px 62px;
}

.login-body h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.login-body__input input {
  background: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 16px 20px;
  width: 86%;
}

.mb-16 {
  margin-bottom: 16px;
}

.login-body__submit-btn {
  background: #e50914;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  outline: none;
  padding: 16px;
  width: 100%;
}
.logout_button {
  background: #e50914;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  outline: none;
  padding: 20px;
  position: fixed;
  right: 100px;
  width: 100px;
}

.login-body__submit-btn:hover {
  cursor: pointer;
}

.login-body__options {
  color: #b3b3b3;
  display: grid;
  font-size: 13px;
  font-weight: 500;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 48px;
  margin-top: 12px;
}

.login-body__options:hover {
  cursor: pointer;
}

.login-body__need-help {
  text-align: right;
}

.login-body__fb {
  align-items: center;
  color: #b3b3b3;
  display: grid;
  font-size: 13px;
  grid-template-columns: min-content auto;
}

.login-body__fb:hover {
  cursor: pointer;
}

.login-body__fb img {
  height: 20px;
  margin-right: 12px;
  width: 20px;
}

.login-body__new-to-nl {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.login-body__sign-up {
  color: #fff;
}

.login-body__sign-up:hover {
  cursor: pointer;
}

.login-body__google_captcha {
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 16px;
}

.login-body__learn-more {
  color: #0071eb;
}

.login-body__learn-more:hover {
  cursor: pointer;
}

.mgr-8 {
  margin-right: 8px;
}
